@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: antiquewhite;
  font-family: "Cafe24Ssurround";
  font-size: 1.5em;
}

body {
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  display: flex;
  flex-basis: 100px;
  align-items: flex-end;
  padding: 12px;
  background-color: rgb(0, 51, 146);
  gap: 12px;
}

#header > * {
  background-color: rgb(255, 217, 0);
  padding: 12px 0;
  text-align: center;
}

#header > *:first-child {
  flex-basis: 100px;
}

#header > *:last-child {
  flex-grow: 1;
}

/* 여기부터 수정된 부분 */
#main {
  display: flex;
  flex-direction: column; /* 세로 정렬로 변경 */
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

#content {
  padding: 24px;
  background-color: rgb(0, 35, 131);
  color: #fff;
  margin-bottom: 20px; /* 이미지와 간격 */
}

#pic {
  display: inline-block;
  padding: 20px 20px;
}

#pic img {
  max-width: 100%;
  height: auto;
}

#footer {
  flex-basis: 60px;
  background-color: tomato;
}
